Do your work for these exercises in a jupyter notebook named scaling. Use the zillow dataset you acquired and prepped in previous lesson. Once you are finished, you may wish to repeat the exercises on another dataset for additional practice.

Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution .
Apply the .inverse_transform method to your scaled data. Is the resulting dataset the exact same as the original data?
Read the documentation for sklearn's QuantileTransformer. Use normal for the output_distribution and apply this scaler to your data. Visualize the result of your data scaling.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer

import wrangle

In [2]:
df = wrangle.acquire_zillow()

In [13]:
pd.DataFrame(df)
df

/opt/homebrew/anaconda3/lib/python3.9/site-packages/pandas/core/internals/construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

(         bedrooms  bathrooms  square_ft_area  tax_value  year_built  \
 10057         4.0        2.0          1561.0   248240.0      1973.0
 2004970       3.0        2.0          1770.0    88390.0      1960.0
 306031        2.0        1.0          1452.0    81169.0      1946.0
 1038595       3.0        1.0          1000.0   119174.0      1950.0
 270959        3.0        2.0          1974.0   432268.0      1988.0
 ...           ...        ...             ...        ...         ...
 991122        3.0        1.0          1199.0   280857.0      1951.0
 1707759       4.0        2.0          1859.0    95008.0      1961.0
 1770246       3.0        3.0          2132.0   158470.0      1980.0
 1500741       2.0        1.0           780.0   477167.0      1955.0
 843328        3.0        1.0          1132.0   285700.0      1916.0

          tax_amount    fips
 10057       2504.40  6059.0
 2004970     1671.93  6037.0
 306031      1310.88  6037.0
 1038595     1900.28  6037.0
 270959      5315.27  6037.0
 ...             ...     ...
 991122      3282.40  6111.0
 1707759     1463.61  6037.0
 1770246     2037.38  6037.0
 1500741     6509.69  6037.0
 843328      3563.75  6037.0

 [1038959 rows x 7 columns],
          bedrooms  bathrooms  square_ft_area  tax_value  year_built  \
 1214919       3.0        2.0          1727.0    73516.0      1964.0
 1799488       2.0        1.0          1516.0   408323.0      1947.0
 1799140       3.0        2.0          1550.0   219939.0      1947.0
 1099916       3.0        2.0          1075.0   308588.0      1957.0
 1534223       3.0        2.0          1548.0   181994.0      1949.0
 ...           ...        ...             ...        ...         ...
 1471549       3.0        1.0          1142.0   359690.0      1949.0
 1622462       2.0        1.0           743.0    63342.0      1949.0
 1242183       2.0        1.0           756.0   390086.0      1925.0
 179210        3.0        2.0          1368.0   203456.0      1959.0
 123227        4.0        3.0          2296.0   312067.0      1964.0

          tax_amount    fips
 1214919     1147.78  6059.0
 1799488     4510.02  6037.0
 1799140     2684.01  6037.0
 1099916     3863.43  6037.0
 1534223     2359.42  6037.0
 ...             ...     ...
 1471549     4249.59  6037.0
 1622462     1160.00  6037.0
 1242183     4777.33  6037.0
 179210      2713.49  6037.0
 123227      4230.81  6037.0

 [445269 rows x 7 columns],
          bedrooms  bathrooms  square_ft_area  tax_value  year_built  \
 443606        4.0        3.0          2942.0   268686.0      1996.0
 1815877       2.0        2.0          1841.0    60013.0      1948.0
 1127429       2.0        1.0           896.0   278696.0      1923.0
 1328382       2.0        2.0          1329.0   324951.0      1941.0
 674079        3.0        1.0           888.0    40954.0      1951.0
 ...           ...        ...             ...        ...         ...
 1758365       2.0        1.0          1227.0    32666.0      1911.0
 1176149       4.0        2.0          1755.0   174459.0      1993.0
 671604        3.0        2.0          1508.0   458789.0      1957.0
 1009469       3.0        2.0          1758.0   363730.0      1980.0
 394156        4.0        2.0          1568.0   381637.0      1947.0

          tax_amount    fips
 443606      4235.22  6037.0
 1815877      974.35  6037.0
 1127429     3455.76  6059.0
 1328382     4039.14  6037.0
 674079       818.99  6037.0
 ...             ...     ...
 1758365      475.00  6037.0
 1176149     3038.30  6037.0
 671604      5566.22  6037.0
 1009469     4884.94  6059.0
 394156      4970.74  6037.0

 [371057 rows x 7 columns])

In [7]:
train, validate, test = wrangle.wrangle_zillow(df)

TypeError: tuple indices must be integers or slices, not str

Use the QuantileTransformer, but omit the output_distribution argument. Visualize your results. What do you notice?
Based on the work you've done, choose a scaling method for your dataset. Write a function within your prepare.py that accepts as input the train, validate, and test data splits, and returns the scaled versions of each. Be sure to only learn the parameters for scaling from your training data!